.uslugi-top{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    }
    .uslugi-bottom{
    display: flex;
    align-items: flex-start;
    padding: 42px 105px 43px 35px;
    background-color: var(--color-white);
    
    }
    .uslugi__link,.uslugi__link--first,.uslugi__link--last{
    text-decoration: none;
    font-weight: 500;
        color: #333333;
    }
    .arrow-left{
        position: absolute;
        left: -50px;
        top: 40%;
        background-color: transparent;
        padding: 12px 18px;
    }
    .arrow-right{
        position: absolute;
        right: -50px;
        top: 40%;
        padding: 12px 18px;
    }
    .arrow-left:hover{
        background-color: var(--color-white);   
        transition: .3s;
    }
    .arrow-right:hover{
        background-color: var(--color-white);   
        transition: .3s;
    }
    .arrow-left:active{
        background-color: var(--color-white);   
        transition: .3s;
        opacity: .6;
    }
    .arrow-right:active{
        background-color: var(--color-white);   
        transition: .3s;
        opacity: .6;
    }
    
    .title-bold--uslugi{
    text-align: center;
    margin-top: 191px;
    margin-bottom: 80px;
    font-size: 48px;
    line-height: 54px;
    }
    .title-medium--about{
        font-size: 20px;
        line-height: 21px;
    }
    .title-medium--card{
    margin-top: 22px;
    font-size: 18px;
    line-height: 22px;
    }
    .uslugi-card{
    width: 193px;
    height: 201px;
    padding: 30px 32px 35px 28px;
    background-color: var(--color-white);
    border-radius: 5px;
    border:1px solid #f3f3f3;
    text-align: center;
    }
    .uslugi-card:hover{
        opacity: .8;
    transition: all .3s;
    }
    .uslugi-card:active{
        opacity: .6;
        transition: all .3s;
    }
    .uslugi-card--1{
        height: 215px;
    }
    .uslugi-card--1::before{
        content: '';
        background-image: url(../../images/card1.svg);
        display: inline-block;
        width: 54px;
        height:77px ;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .uslugi-card--2::before{
        content: '';
        background-image: url(../../images/card2.svg);
        display: inline-block;
        width: 61px;
        height:77px ;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .uslugi-card--3::before{
        content: '';
        background-image: url(../../images/card3.svg);
        display: inline-block;
        width:72px ;
        height: 77px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .uslugi-card--4::before{
        content: '';
        background-image: url(../../images/card4.svg);
        display: inline-block;
        width: 76px;
        height: 76px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .uslugi-card--5::before{
        content: '';
        background-image: url(../../images/card5.svg);
        display: inline-block;
        width: 78px;
        height: 78px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .uslugi-card--6::before{
        content: '';
        background-image: url(../../images/card6.svg);
        display: inline-block;
        width: 76px;
        height: 76px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    
    .uslugi-bottom::before{
        content: '';
        background-image: url(../../images/pervichniy\ osmotr.png);
        display: inline-block;
        width: 590px;
        height: 332px;
        margin-right: 28px;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .title-medium--uslugi{
    font-size: 36px;
    line-height: 20px;
    margin-bottom: 18px;
    }
    .text--uslugi{
        margin: 0;
        margin-bottom: 9px;
    }
    .text--uslugi2{
        margin-bottom: 44px;
        margin-top: 0;
    
    }
    
    .btn--money{
    background-color: var(--color-secondary);
    margin-right: 21px;
    padding: 14px 35px;
    }
    .btn--money:hover{
    background-color: var(--color-primary);
    color:var(--color-secondary);
    }
    .btn--money:active{
        background-color: var(--color-primary);
        color:var(--color-secondary);
        opacity: .6;
    }
    
    .btn--calc{
        padding: 14px 37px;
    }
    
    .btn--money::before{
        content: '';
        background-image: url(../../images/money-btn.svg);
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: 7px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .btn--calc::before{
        content: '';
        background-image: url(../../images/calc-btn.svg);
        display: inline-block;
        width: 21px;
        height: 21px;
        margin-right: 6px;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-size: contain;
    }